@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Event Explorer is the place to find fun upcoming events and join them, click register or login to see what's out there!</p>
</div>
